<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 타임리프는 기본적으로 css 나 js 파일은 static 폴더에 있다고 가정한다. -->
    <link rel="stylesheet" href="../../static/css/Board.css" th:href="@{/css/Board.css}" />
</head>
<body>
    <h1>This is Board</h1>
    <div>
        <button id="save_page" type="button" onclick="location.href='/saveBoard'">go to save page</button>
    </div>
    <table>
        <caption>
            Back-end web developer course 2024
        </caption>
        <thead>
        <tr>
            <th scope="col">Person</th>
            <th scope="col">Most interest in</th>
            <th scope="col">Age</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="result : ${resultList}">
            <th scope="row" th:text="${result.developer.name}"></th>
            <td th:text="${result.interest}"></td>
            <td th:text="${result.developer.age}"></td>
            <td>
                <button id="update" type="button" th:onclick="|location.href='@{/updateBoard(id=${result.id})}'|">update</button>
            </td>
            <td>
                <button id="delete" type="button" th:onclick="|location.href='@{/deleteBoard(id=${result.id})}'|">delete</button>
            </td>
        </tr>
        <!--
        <tr>
            <th scope="row">Chris</th>
            <td>HTML tables</td>
            <td>22</td>
        </tr>
        <tr>
            <th scope="row">Dennis</th>
            <td>Web accessibility</td>
            <td>45</td>
        </tr>
        <tr>
            <th scope="row">Sarah</th>
            <td>JavaScript frameworks</td>
            <td>29</td>
        </tr>
        <tr>
            <th scope="row">Karen</th>
            <td>Web performance</td>
            <td>36</td>
        </tr>
        -->
        </tbody>
        <tfoot>
        <tr>
            <th scope="row" colspan="2">Average age</th>
            <td></td>
        </tr>
        </tfoot>
    </table>
</body>
</html>